# Sqlite storage
SQLLITE_PATH=sqlite3.db

# Redis configuration if replace Storage class in internal/app
# REDIS_PASSWORD=your_redis_password # Optional
# REDIS_USERNAME=your_redis_username # Optional
# HOST_REDIS=redis
# PORT_REDIS=6379


# Telegram bot configuration
TELEGRAM_BOT_TOKEN=your_telegram_bot_token_here

# Server list (override in code or extend here)
# Format: {"SERVER_NAME": "IP"}
# Example:
# SERVERS={"ЯНДЕКС":"ya.ru","GOOGLE":"google.com"}
SERVERS={}
